<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ilerminaty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">

    <!-- Dank Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>

    <!-- Materia theme -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('css', name='bootstrap-materia.min') }}">
    <!-- Bootstrap overrides for special styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('css', name='base') }}">
    {% block scripts %}
    {% endblock %}
</head>
<body>
<div class="container">
    {# There's just too much junk to keep the navbar here... #}
    {% include "navbar.html" %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
